<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <div>
      <form>
        <label>name</label>
        <input
          type="text"
          name=""
          id="name"
          oninvalid="this.setCustomValidity('Enter User Name Here')"
          oninput="this.setCustomValidity('')"
          required
        />
        <label>Email</label>
        <input
          type="email"
          name=""
          id="email"
          oninvalid="this.setCustomValidity('Enter email Here')"
          oninput="this.setCustomValidity('')"
          required
        />
        <label>Password</label>
        <input
          type="password"
          name=""
          id="password"
          oninvalid="this.setCustomValidity('Enter Password Here')"
          oninput="this.setCustomValidity('')"
          required
        />
        <input id="submit" type="submit" value="Sign Up" />
      </form>
    </div>
    <!-- <script src="../public/js/login.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/js/login.js"></script>
  </body>
</html>
